:root {
  --tiny-black-color: black;
  --tiny-white-color: white;
  --tiny-primary-color: #409eff;
  --tiny-primary-color-light-1: rgb(121.3, 187.1, 255);
  --tiny-primary-color-light-2: rgb(159.5, 206.5, 255);
  --tiny-primary-color-light-3: rgb(197.7, 225.9, 255);
  --tiny-primary-color-light-4: rgb(216.8, 235.6, 255);
  --tiny-primary-color-light-5: rgb(235.9, 245.3, 255);
  --tiny-primary-color-dark-1: rgb(51.2, 126.4, 204);
  --tiny-info-color: gray;
  --tiny-info-color-light-1: rgb(177.3, 179.4, 183.6);
  --tiny-info-color-light-2: rgb(199.5, 201, 204);
  --tiny-info-color-light-3: rgb(221.7, 222.6, 224.4);
  --tiny-info-color-light-4: rgb(232.8, 233.4, 234.6);
  --tiny-info-color-light-5: rgb(243.9, 244.2, 244.8);
  --tiny-info-color-dark-1: rgb(115.2, 117.6, 122.4);
  --tiny-success-color: #67c23a;
  --tiny-success-color-light-1: rgb(148.6, 212.3, 117.1);
  --tiny-success-color-light-2: rgb(179, 224.5, 156.5);
  --tiny-success-color-light-3: rgb(209.4, 236.7, 195.9);
  --tiny-success-color-light-4: rgb(224.6, 242.8, 215.6);
  --tiny-success-color-light-5: rgb(239.8, 248.9, 235.3);
  --tiny-success-color-dark-1: rgb(82.4, 155.2, 46.4);
  --tiny-warn-color: #e6a23c;
  --tiny-warn-color-light-1: rgb(237.5, 189.9, 118.5);
  --tiny-warn-color-light-2: rgb(242.5, 208.5, 157.5);
  --tiny-warn-color-light-3: rgb(247.5, 227.1, 196.5);
  --tiny-warn-color-light-4: rgb(250, 236.4, 216);
  --tiny-warn-color-light-5: rgb(252.5, 245.7, 235.5);
  --tiny-warn-color-dark-1: rgb(184, 129.6, 48);
  --tiny-error-color: #f56c6c;
  --tiny-error-color-light-1: rgb(248, 152.1, 152.1);
  --tiny-error-color-light-2: rgb(250, 181.5, 181.5);
  --tiny-error-color-light-3: rgb(252, 210.9, 210.9);
  --tiny-error-color-light-4: rgb(253, 225.6, 225.6);
  --tiny-error-color-light-5: rgb(254, 240.3, 240.3);
  --tiny-error-color-dark-1: rgb(196, 86.4, 86.4);

  /* TinyButton style */
  --tiny-button-active-bg-color: none;
  --tiny-button-font-color: var(--tiny-white-color);
  --tiny-button-bg-color: var(--tiny-primary-color);
  --tiny-button-hover-bg-color: var(--tiny-primary-color-light-1);
  --tiny-button-border-width: 1px;
  --tiny-button-border-style: solid;
  --tiny-button-border-color: #dcdfe6;
  --tiny-button-border-radius: 5px;
  --tiny-button-font-size: 0.95em;
  --tiny-button-top-padding: 8px;
  --tiny-button-bottom-padding: var(--tiny-button-top-padding);
  --tiny-button-left-padding: 10px;
  --tiny-button-right-padding: var(--tiny-button-left-padding);
}